body {
    font-size: 14px;
    font-family: 'Open-Sans', arial, sans-serif;
}

/* HEADER STYLING */
#nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    width: 100%;
    padding-top: 30px;
    padding-left: 10px;
}
#nav-left {
    display: flex;
    align-items: center;
}
#nav-right {
    display: flex;
}
.settings-app{
    padding-right: 30px;
}
#searchbar{
    background: #fff;
    display: flex;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
    height: 39px;
    width: 690px;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    justify-content: space-between;
    margin-left: 30px;
}
#searchbar-input input{
    background-color: transparent;
    border: none;
    outline: none;
    word-wrap: break-word;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
    line-height: 39px;
    height: 39px !important;
    padding-left: 20px;
}
#searchbar-icons {
display: flex;
align-items: center;
}
#searchbar-icons img{
width: 24px;
height: 24px;
padding-right: 15px;
}
#searchbar-icons img[alt="mic"]{
border-left: 1px solid #ebebeb;
padding-left: 15px;

}
#searchnav ul{
    display: flex;
    height: 58px;
    padding-left: 225px;
    border-bottom: 1px solid #ebebeb;
}
#searchnav ul li{
    display: flex;
    align-items: center;
    padding-right: 25px;
    cursor: pointer;
}


#results-number {
    color: #70757a;
    line-height: 43px;
    padding-left: 225px;
}

#tools{
   padding-left: 50px;
}

.nav-icons {
    padding-right: 5px;
}

/* MAIN CONTENT */

.search-results {
    position: relative;
    margin-left: 225px;
    width: 652px;
    margin-bottom: 40px;
}

#related-questions {
        position: relative;
    margin-left: 225px;
    width: 652px;
    margin-bottom: 40px;
}

#related-questions div ul li {
    font-size: medium;
    font-weight:normal;
    padding: 10px 0;
    border-bottom: 1px solid #d8d8d8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#related-questions div ul li img {
vertical-align: middle;
padding-left: 10px;

}


h2 {
    font-size: 25px;
    padding-bottom: 10px;
        border-bottom: 1px solid #d8d8d8;
}

h3 {
    padding-top: 5px;
    margin-bottom: 3px;
    font-weight: normal;
    font-size: 20px;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a h3:hover {
    text-decoration: underline;
}
a h3:visited {
    color: slateblue;
}

p {
    line-height: 1.3;
}
a  {
    text-decoration: none;
}

a cite {
    color: seagreen;
}
.translation {
    display: flex;

}
.translation a img {
    vertical-align:middle;
}
.translation span {
    color: #1a0dab;
    
}
.translation span:hover {
    text-decoration: underline;
}

